<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="dec14th" parallel="methods" thread-count="4">
    <test name="GoogleTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.example.GoogleSearchTest"/>
        </classes>
    </test>
</suite>
